@model InhouseMembership.Models.CoachProfile

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-body bg-secondary">
    <h4 class="text-white font-weight-bolder">CoachProfile</h4>
    <hr />
    <dl class="row">
        <div class="col-md-6">
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Education)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Education)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Interests)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Interests)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Experience)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Experience)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Skills)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Skills)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Biography)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Biography)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Coach)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Coach.Id)
            </dd>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <dt class="col-sm-2 text-white">
                Profile Image
            </dt>
            <dd class="col-sm-10">
                <!-- show profile image -->
                <img src="@("~/image/" + Model.ImagePath)" asp-append-version="true" style="width: 300px; height: 300px;" />
            </dd>
        </div>
    </dl>
</div>

<!-- admins and coaches can edit and delete coach profiles -->
@if (!User.IsInRole("Member"))
{
    <div>
        <h2>
            <a asp-action="Edit" asp-route-id="@Model.CoachProfileId" class="text-white btn-primary font-weight-bold">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.CoachProfileId" class="text-white btn-danger font-weight-bold">Delete</a>
        </h2>
    </div>

}


